
main time {
  font-size: 0.75em;
}

footer {
  font-size: 0.75em;
  text-align:center;
}

summary {
  outline:none;
}
summary:hover {
  cursor:pointer;
}

details[open] summary {
  border:none
}

body {
  font-size: 1.5em;
  --text-color: #222;
  --bkg-color: #fff;
  --anchor-color: #0000ff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
  --anchor-color: #cca43b;
}


@media (prefers-color-scheme: dark) {
  
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --anchor-color: #cca43b;
    --bkg-color: #121212;
    --filter: brightness(0) invert(1);
  }
  
  body.light-theme {
    --anchor-color: #0000ff;
    --text-color: #222;
    --bkg-color: #fff;
    --filter: None;
  }

  .flip {
    --rotate: 180deg;
  }
}


body {
  background: var(--bkg-color);
  color: var(--text-color);
}

a {
  color: var(--anchor-color);
}

a::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  filter: var(--filter); 
}

/* figure { */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  /* max-width: 800px; */
/* } */

img {
  max-width: 100%;
  /* height: auto; */
  /* padding:0; */
  /* margin:0 auto; */
}

header {
  display:flex;
  flex-direction: row;
}

button {
  background: var(--bkg-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

blockquote {
  border-left: 0.15em solid var(--text-color);
  padding-left: 10px;
}

article, .single-article{
  max-width: 800px;
  margin: 0 auto;
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.single-article h1, .single-article h3 {
  border-bottom: 0.15em solid var(--text-color);
}

.single-article h2, .single-article h3 {
  align-items:left;
  text-align:left;
}

.single-article {
  border-bottom: 0.2em dashed var(--text-color);
  margin-bottom: 30px;
}

pre {
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
  border:0;
  font-size:12pt;
  max-width:600px;
  overflow-x:scroll;
  white-space: pre-wrap;
  height:300px;
  padding:20px;
  border-radius:12px;
  background-color: #121212;
  color:#eee;
}
