/* 
Color palette: 
https://medium.com/swlh/how-i-designed-a-colorblind-friendly-palette-8a91a49f1220
https://coolors.co/363636-242f40-cca43b-e5e5e5-ffffff
- 363636 gris oscuro
- 242f40 azul oscuro
- cca43b amarillo
- e5e5e5 gris claro
- ffffff blanco
*/
body {
  font-family: Courier;
  font-size: 2.5em;
  background: #000000;
  color: #e5e5e5;
  margin: 0px;
  padding: 0px;
}

summary {
  padding: 0.7em 0em;
  outline:none;
}

details[open] summary {
  border:none
}

main {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #363636;
  padding: 20px;
}

header, footer {
  background:#242f40;
  color: #ffffff;
  padding:20px;
}

blockquote {
  font-style: italic;
  font-size: 0.75em;
  border-left: 2px solid #cca43b;
  background: #363636;
  padding: 25px;
  border-radius: 10px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: #cca43b;
}

nav {
  list-style: none;
}

time {
  font-size: 0.75em;
  color: #e5e5e5;
  align-items: left;
}

article {
  max-width: 800px;
  margin: 0 auto;
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

q {
  font-style:italic;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  background: #242f40;
  padding: 20px;
  border-radius: 10px;
}

img {
  max-width: 80%;
  height: auto;
}

figcaption {
  font-size: 0.75em;
  color: #e5e5e5;
  padding-top:20px;
}

